# dependencies
node_modules/

# environment variables
.env
.env.local
.env.development
.env.production

package-lock.json

# Python / Django
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.log
.pytest_cache/
.mypy_cache/
db.sqlite3

