* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
}

.container {
    display: flex;
    width: 800px;
    height: 400px;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
}

.login-section {
    width: 40%;
    background-color: #2a2a2a;
    padding: 40px;
    color: white;
}

.login-section h2 {
    margin-bottom: 10px;
}

.login-section p {
    margin-bottom: 20px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.image-section {
    width: 60%;
    background-color: #004aad; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.image-section img {
    width: 400%;
    max-width: 350px; /* Adjust the size */
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:#004aad;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #